<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangbb.gangbbspringbootmybatisgenerator.model.dao.DepartmentsMapper">
  <resultMap id="BaseResultMap" type="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Departments">
    <!--@mbg.generated-->
    <!--@Table departments-->
    <id column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="location_id" jdbcType="INTEGER" property="locationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    department_id, department_name, manager_id, location_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from departments
    where department_id = #{departmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from departments
    where department_id = #{departmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="department_id" keyProperty="departmentId" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Departments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into departments (department_name, manager_id, location_id
      )
    values (#{departmentName,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}, #{locationId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="department_id" keyProperty="departmentId" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Departments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into departments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="locationId != null">
        location_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Departments">
    <!--@mbg.generated-->
    update departments
    <set>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null">
        location_id = #{locationId,jdbcType=INTEGER},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Departments">
    <!--@mbg.generated-->
    update departments
    set department_name = #{departmentName,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=INTEGER},
      location_id = #{locationId,jdbcType=INTEGER}
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
</mapper>