<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangbb.gangbbspringbootmybatisgenerator.model.dao.JobsMapper">
  <resultMap id="BaseResultMap" type="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Jobs">
    <id column="job_id" jdbcType="VARCHAR" property="jobId" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="min_salary" jdbcType="INTEGER" property="minSalary" />
    <result column="max_salary" jdbcType="INTEGER" property="maxSalary" />
  </resultMap>
  <sql id="Base_Column_List">
    job_id, job_title, min_salary, max_salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jobs
    where job_id = #{jobId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from jobs
    where job_id = #{jobId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Jobs">
    insert into jobs (job_id, job_title, min_salary, 
      max_salary)
    values (#{jobId,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR}, #{minSalary,jdbcType=INTEGER}, 
      #{maxSalary,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Jobs">
    insert into jobs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="jobTitle != null">
        job_title,
      </if>
      <if test="minSalary != null">
        min_salary,
      </if>
      <if test="maxSalary != null">
        max_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null">
        #{minSalary,jdbcType=INTEGER},
      </if>
      <if test="maxSalary != null">
        #{maxSalary,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Jobs">
    update jobs
    <set>
      <if test="jobTitle != null">
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null">
        min_salary = #{minSalary,jdbcType=INTEGER},
      </if>
      <if test="maxSalary != null">
        max_salary = #{maxSalary,jdbcType=INTEGER},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangbb.gangbbspringbootmybatisgenerator.model.pojo.Jobs">
    update jobs
    set job_title = #{jobTitle,jdbcType=VARCHAR},
      min_salary = #{minSalary,jdbcType=INTEGER},
      max_salary = #{maxSalary,jdbcType=INTEGER}
    where job_id = #{jobId,jdbcType=VARCHAR}
  </update>
</mapper>